.sidebar{
    background-color:#171717;/*#171717;*/
    color:#b4b4b4;
    height:100vh ;
    width:320px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}

button{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px;
    padding:10px;
    border-radius:6px ;
    background-color: transparent;
    border:solid 0.5px rgba(255,255,255,0.5);
    cursor: pointer;
}
.logo{
    height:25px;
    width:25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span{
 font-size: 15px;
}

button:hover{
    background-color: rgba(73, 70, 70, 0.5);

}

.history{
    margin:10px;
    padding:10px;
    height: 100%;
    overflow-y: auto;
}

.history li{
    list-style-type: none;
    cursor:pointer;
    padding:2px 5px;
    margin: 0.3rem;
    font-size:15px;
    border: solid 2px transparent;
    position:relative;


}

.history li:hover{
    background-color: rgba(73, 70, 70, 0.5);
    border-radius: 8px;
}

.sign{
    padding:10px;
    margin:10px;
    font-size:15px;
    text-align: center;
    border-top: solid 0.25px rgba(255,255,255,0.5);
}

.fa-trash{
    opacity: 0;
    position:absolute;
    right: 0 ;
}

.history li:hover .fa-trash{
    opacity: 1;
    color:#a8a5a5;
    cursor:pointer; 
}

.fa-trash:hover{
    color:#ff4c4c !important;
}